.contentWrapper {
    width: 100%;
    min-width: 1240px;
    display: flex;
    justify-content: center;
}

.mainContainer {
    display: flex;
    width: 1240px;
    align-items: flex-start;
    gap: 40px;
}