.modal {
    position: fixed;
    display: grid;
    grid-template-rows: 64px 1fr;
    grid-template-columns: 640px;
    width: 720px;
    box-sizing: border-box;
    z-index: 1000;
    background-color: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    cursor: default;
}

.modal p {
    cursor: text;
}

.header {
    display: grid;
    grid-template-columns: 1fr 36px;
    gap: 36px;
    box-sizing: border-box;
    align-items: center;
    height: 64px;
    line-height: 40px;
    white-space: nowrap;
    align-items: center;
    text-overflow: clip;
}

.header p {
    margin: 0px;
}

.closeIcon {
    cursor: pointer;
}